@import '../../../index.scss';
.p-card {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    -webkit-box-shadow: 0 3px 7px -3px $color-black;
    -moz-box-shadow: 0 3px 7px -3px $color-black;
    box-shadow: 0 3px 7px -3px $color-black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    box-sizing: border-box;
    &__box {
        width: 45%;
        height: 200px;
        padding-right: 10px;
        background-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(255, 0, 0, 0));
        border-radius: 15px;
        padding-top: 8px;
        text-align: center;
        padding-top: 15px;
    }
    &__name {
        color: $color-white;
        text-transform: capitalize;
    }
    &__boxloc {
        padding-top: 25px;
    }
    &__loc {
        color: $color-white;
        margin-top: 0;
        text-transform: capitalize;
    }
    &__link {
        text-decoration: none;
        color: $color-white;
    }
}

// @import '../../../index.scss';
// .Card1 {
//     position: relative;
//     background: $color-white;
//     background-image: linear-gradient(to top right, $color-primary, $color-secondary);
//     margin: 1em;
//     display: inline-block;
//     overflow: hidden;
//     font-size: 14px;
//     border-radius: 15px;
//     height: 250px;
//     max-width: 600px;
//     -moz-transition: 0.5s;
//     -o-transition: 0.5s;
//     -webkit-transition: 0.5s;
//     transition: 0.5s;
//     -webkit-box-shadow: 0 3px 7px -3px $color-black;
//     -moz-box-shadow: 0 3px 7px -3px $color-black;
//     box-shadow: 0 3px 7px -3px $color-black;
// }
// .Card1 .photo {
//     position: relative;
//     -moz-transition: 0.5s;
//     -o-transition: 0.5s;
//     -webkit-transition: 0.5s;
//     transition: 0.5s;
//     float: left;
//     height: auto;
//     width: 50%;
// }
// .Card1:hover .photo {
//     -webkit-transform: rotate(5deg) scale(1.3);
//     -moz-transform: rotate(5deg) scale(1.3);
//     -ms-transform: rotate(5deg) scale(1.3);
//     -o-transform: rotate(5deg) scale(1.3);
//     transform: rotate(5deg) scale(1.3);
// }
// .Card1 .description {
//     padding: 1em;
//     height: 100%;
//     z-index: 0;
// }
// .Card1 .description h1 {
//     font-size: 2em;
//     padding: 0.5em 0px;
//     font-weight: bold;
// }
// .Card1 .description .line {
//     display: block;
//     height: 5em;
//     padding-top: 0.5em;
// }
// .Card1 .description .product_name {
//     float: left;
//     padding-left: 10px;
// }
// .Card1 .description .product_price {
//     float: right;
//     color: $color-primary;
// }
// .Card1 .description h2 {
//     color: #9b9b9b;
//     font-weight: lighter;
//     font-weight: 400;
//     font-size: initial;
// }
// .Card1 .description p {
//     position: relative;
//     padding: 8px;
// }
// .Card1 .description p:after {
//     background: $color-primary;
//     height: 6px;
//     width: 5em;
//     position: absolute;
//     top: 0.6em;
//     left: 0px;
// }
// .Card1 .description a {
//     color: $color-primary;
//     margin-bottom: 1em;
//     position: absolute;
//     right: 1em;
//     bottom: 0em;
// }
// .Card1 .description a:after {
//     content: ">";
//     margin-left: -10px;
//     opacity: 0;
//     -moz-transition: 0.5s;
//     -o-transition: 0.5s;
//     -webkit-transition: 0.5s;
//     transition: 0.5s;
// }
// .Card1 .description a:hover:after {
//     margin-left: 5px;
//     opacity: 1;
// }