@import "../../../index.scss";

.card {
  margin: 0 auto;
  width: 100%;
  height: 150px;
  background-color: $color-primary;
  border-radius: 15px;
  -webkit-box-shadow: 0 3px 7px -3px $color-black;
  -moz-box-shadow: 0 3px 7px -3px $color-black;
  box-shadow: 0 3px 7px -3px $color-black;
  margin-top: 20px;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__imageBox {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__image {
    width: 100%;
    border-radius: 15px;
  }
  &__infoBox {
    width: 57%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
  }
  &__text {
    color: $color-black;
    font-family: verdana;
    font-size: 10pt;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
